# Logs
logs
.vs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
PBL3.Server/obj
PBL3.Server/bin
node_modules
dist
dist-ssr
*.local
obj/*
bin/*
.vs/*
.vscode
.github
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.fake